.titulo,
.subtitlo
  +block
  font-weight: 700
  word-break: break-word
  em,
  span
    font-weight: inherit
  sub
    font-size: 0.75em
  sup
    font-size: 0.75em
  .tag
    vertical-align: middle

  &--tamanho__grande
    font-size: 50px
    line-height: 57px

  &--tamanho__medio
    font-size: 26px
    line-height: 29px

  &--tamanho__pequeno
    font-size: 20px
    line-height: 23px
