$cinzaClaro: #FAFAFA !default

.resumo,
.beneficios
  background: $cinzaClaro
  padding: 70px 0
  margin: 140px 0

.beneficios
  display: flex

  .beneficio
    padding: 0 20px

    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
