html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'MuseoSansRounded', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}
hr {
  border: none;
  border-radius: 100px;
  height: 4px;
  background-color: #E6E6E6 ;
}
